/* 
    Reset CSS Boostrap
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****
    Header./Start
****/
.header {
    width: 100%;
}
.header-top {
    background-color: black;
    height: 40px;
    width: 100%;
}
.description-header-top {
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 13px;
}
.description-header-top a {
    color: #fff;
    font-weight: bold;
}
    /* Header Main Left./start */
.header-main {
    width: 100%;
    background-color: #fff;
}
body .container {
    max-width: 1440px;
}
.header-main .header-main-center {
    height: 80px;
}
.header-main .header-main-right {
    height: 80px;
}
.contact-header-left {
    display: flex;
    align-items: center;
    height: 80px;
}
.contact-header-left li {
    list-style: none;
    margin-right: 8px;
    font-size: 14px;
}
    /* Header Main Center./start */
.header-main-center {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang*/
    align-items: center; /*Căn giữa theo chiều dọc*/
}
.header-main-center .logo {
    width: 232px;
    height: 27px;

}
.header-main-center .logo img {
    object-fit: cover;
    max-height: 27px;
}
    /* Header Main Right./start */
.header-main-right {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
}
.wrap-search {
    min-width: 250px;
    position: relative;
}
/* .wrap-cart {
    width: 100px;
} */
.wrap-cart ul li {
    margin-left: 12px;
}
.header-main-right input {
    background-color: #fff;
    border: unset;
    border-bottom: 1px solid #ddd;
    min-width: 100%;
}
.header-main-right .wrap-search i {
    position: absolute;
    bottom: 3px;
    right: 0;
}
.header-main ul {
    display: flex;
    margin-bottom: unset;
}
.header-main .contact-header-left ul li {
    list-style: none;
    margin-right: 12px;
}
.add-to-cart {
    position: relative;
}
.add-to-cart span {
    position: absolute;
    top: -4px;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    font-size: 13px;
    color: #fff;
}
    /* Header Bottom./start */
.header-bottom ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: unset;
    padding: unset;
}
.header-bottom ul li {
    list-style: none;
}

.header-bottom ul li a {
    font-size: 14px;
    color: #414141;
    text-decoration: none;
}